@import "colors.scss";

.header_container {
  color: aliceblue;
  background-color: $main;
  border: 1px solid greenyellow;
}

.paragraph_container {
  background-color: $secondary;
  border: 2px dashed salmon;
}
